@model Proeveskytter.Models.Entities.Skytte

@{
    ViewData["Title"] = "Skytte Detaljer";
}
<h1>Skytte Detaljer</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNr)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Index">Skytteliste</a>
</div>
